  <h3><%= params[:grind] %></h3>
    <% if @coffees.count == 0 %>
       <h1> There is no coffees for this grind. </h1>
    <% else %>
      <% @coffees.each do |coffee| %>
          <h2><%= link_to coffee.name, coffee_path(coffee)%></h2>
        <% end %>
      <% end %>
