/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* General sstyle */
 body {
	background-color: #ffff;
	font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

p.alert, p.notice {
	margin: 0;
}

/* Navbar/navigation styles */

.navbar {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}
.navbar-default {
	     background-color: #fff;
	     padding-bottom: 5px;
	     padding-top: 5px;

	     .navbar-nav > li > a {
		        color: #222;
		         &:hover {
			            color: darken(#74d2d9, 5%);
			             transition: 0.5s;
		          }
      	}

	      .navbar-header {

		          .navbar-brand {
			             color: #333;
			             letter-spacing: 1.4px;
		            }

	        }

	         .dropdown-menu > li > a:hover {
		           background-color: darken(#74d2d9, 5%);
		             color: #fff;
	        }

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: darken(#74d2d9, 5%);
		color: #fff;
	}

}

.dropdown-menu > .active > a {
	background-color: #74d2d9;
	color: #fff;
}
/*Coffee style*/

 .coffee {
	height: 350px;
	width: 250px;
	margin-bottom: 40px;
}

.coffee-show {
	height: 350px;
	width: 250px;
}

/* New Coffee Form styles */

.new-coffee-form {


	h1 {
		margin-top: 0;

	}

}



/*Reviews style*/
.reviews {

	margin-top: 40px;

	h1 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 2em;
	}

	.review {
		border-bottom: 1px solid gainsboro;
		margin-bottom: 15px;
		padding-bottom: 10px;

		.review-comment {
			font-size: 1.05em;
			line-height: 1.5;
		}

	}

	.new-review {
		padding-top: 8px;
	}

}


/* Button/link styles */

.btn-custom {
	color: darken(#f1c40f, 5%);
	background-color: #fff;
	border: 1px solid darken(#74d2d9, 5%);
	padding: 3px 5px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken(#74d2d9, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 3px 10px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}
}
.btn-primary {
	color: #333;
	background-color: #ADD8E6;
	border: 3px solid #3ca1c3;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #b1dae7;
		color: #fff;
		transition: 0.5s;
	}
}

.btn-secondary {
	color: #333;
	background-color: #ADD8E6;
	border: 1px solid #3ca1c3;
	padding: 3px 10px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #b1dae7;
		color: #fff;
		transition: 0.5s;
	}
}

.links {

	.btn-custom {
		padding: 3px 5px;
		font-weight: 100;
	}

}

.coffee-links {

	.btn-custom {
		padding: 3px 10px;
		font-weight: 300;
		margin-top: 40px;
	}

}



  .page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F0F8FF;
  color: #696969;
  text-align: center;
}
